<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Expand Column -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell class="cell_expand" *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="cell_content" >
      <span *ngIf="element['expand'] && !element['parent']">-&nbsp;&nbsp;</span>
      <span *ngIf="!element['expand'] && !element['parent']">+&nbsp;&nbsp;</span>
      <span *ngIf="element['expand'] && element['parent']">&nbsp;&nbsp;-</span>
      <span *ngIf="!element['expand'] && element['parent']">&nbsp;&nbsp;+</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell class="cell_name" *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Score Columns -->
  <ng-container matColumnDef="{{column}}" *ngFor="let column of dataHeader">
    <th mat-header-cell class="cell_content" *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="headers.length" class="zero2three">
      <div class="example-element-detail"
           [@detailExpand]="element['expand'] ? 'expanded' : 'collapsed'">
        <div class='gia-chart-wrapper' style="width: 720px; height: 360px; float: left;">
          <div class="gia-chart-{{element['position']}}"></div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headers"></tr>
  <tr mat-row *matRowDef="let element; let i = index; columns: headers; when: isParentRow"
      class="example-element-row"
      (click)="element['expand'] = !element['expand']; updateChildExpand(i, element)">
  </tr>
  <tr mat-row *matRowDef="let element; columns: headers;  when: isChildRow"
      class="example-element-row-child"
      [class.example-expanded-row]="expandedElement === element"
      (click)="element['expand'] = !element['expand']; updateDetailGraph(element)">
  </tr>
  <tr mat-row *matRowDef="let element; columns: ['expandedDetail'];"
      class="example-detail-row">
  </tr>
</table>
