.cell_expand{
  width:44px;
  text-align: center;
}

.cell_name{
  width:180px;
  text-align: center;
}

.cell_content{
  width: 60px;
  text-align: center;
}

.example-element-row td {
  border-bottom-width: 0.5px;
  text-align: center;
}

tr.example-detail-row {
  height: 0;
}

