<div class="main">
    <mat-card class="title_section" >
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight="40px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <div class="title_cell">
                        <span class="title">假设是xx班级的月考汇总</span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <div class="title_cell_right">
                        <span style="margin: auto 0">Date:</span>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="myDatepicker" placeholder="Choose a date" (dateChange)="changeDate($event)" [value]="localDate">
                        <mat-datepicker-toggle  matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <div class="title_cell">
                        <span class="sub_title">此处可以有更多的简单陈述</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="main_table">
        <mat-card-content>
            <app-table></app-table>
        </mat-card-content>
    </mat-card>
</div>